<%- include('templates/header',{title:'Sobre Mi'}); %>
<body class="re">
    <div class="an">
        <div class="df">
            <h1>&#128073;<a href="/tecnologia">Tecnologias</a></h1>
            <h1>&#128073;<a href="/experiencia">Experiencia</a></h1>
            <h1>&#128073;<a href="https://github.com/DavidJohannes657">Proyectos</a></h1>
            </div>
        <div class="ki">
            <br>
            <img src="./img/captura7.jpg" alt="captura7" width="120" height="130">
        </div>
        <div class="ka">
            <br>
            <img src="./img/captura5.jpg" alt="captura7" width="120" height="130">
        </div>
        <div class="k">
            <br>
            <img src="./img/captura6.jpg" alt="captura7" width="120" height="130">
        </div>

    </div>
    <br>
    <br>
    <div class="rd">
       
        <h1> &#128204;Sobre Mi</h1>
        <br>
        <h1> Soy un desarrollador web que <br>
             le gusta aprender de mi entorno <br>
            y poner en practica todos mis <br>
             conocimientos
        </h1>
    </div>
    <div class="rs">
        &#128204;
        <h1>
            Juan David <br>
            Pachon
        </h1>
    </div>
    <div class="li">
        <img src="./img/juan.jpg" alt="juan" width="300" height="400">
    </div>

    <div class="te">
        <center>
            <h1><%=contacto%>&#128211;</h1>
        </center>
        <h2> Tel:&#128222; <%=telefono%></h2>
        <h2> Correo:&#128231; <%=correo%></h2>
        <h2> Edad:&#128197; <%=edad%></h2>
        <h2> Estudios:&#128188; <%=estudios%></h2>

        
            
    </div>
</body>
</html>