<%- include('templates/header',{title:'Sobre Mi'}); %>
<body class="re">
    <div class="df">
      <h1>&#128073;<a href="/tecnologia">Tecnologias</a></h1>
        <h1>&#128073;<a href="/experiencia">Experiencia</a></h1>
        <h1>&#128073;<a href="https://github.com/DavidJohannes657">Proyectos</a></h1>
    </div>
    
    <div  class="ea">
        <div class="ao">
            <center>
                    <h1><%=name%></h1>
            </center>
            
        </div>
        <img src="./img/juan.jpg" alt="juan" width="300" height="400">

    </div>

   
    <div class="te">
        <center>
            <h1><%=contacto%>&#128102;</h1>
            <br>
        </center>
        <h2>Soy un progrmador en busca de entornos donde pueda aprender a aportar en un grupo. </h2>
        <h2> Tel:&#9742; <%=telefono%></h2>
        <h2> Correo:&#9993; <%=correo%></h2>
        <h2> Edad:&#128197; <%=edad%></h2>
        <h2> Estudios:&#128188; <%=estudios%></h2>

        
            
    </div>
</body>
</html>